<div class="clearfix mxn2">
  <div class="col sm-col-11 px2">
    <h3 class="mb2">About me</h3>
    <p>
      I am a Software Development Engineer predominantly involved in developing parallel programming interface modules 
      for High-Performance Computing Systems at IBM Systems Development Labs.
      <br/>
      <br/>
      My Interests includes High-Performance Computing, Algorithms, Parallel and Concurrent Programming, Distributed Systems, Computer Architecture, Linux Kernel Development and Artificial Intelligence.
      <br/>
      <br/>
      I always like to ponder and learn new things <img src="/assets/img/icons/smile.png"> I’m planning to share some of
      my projects, learnings and sketches here.
    </p>
  </div>
  <div class="col sm-col-1 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
